body#background {
background: url(../images/ntl-index.jpg) no-repeat 50% 50% fixed;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
}

body {
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
  padding-bottom: 200px;
  }

img {
    max-width: 100%;
    height: auto;
}

body, html {
    height: 100%;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

h2 {
  /* padding-top: 5px;
  padding-bottom: 5px; */
  /* text-align: center; */
}

h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

nav {
    text-transform: uppercase;
}

th {
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}

td {
    padding: 5px 15px;
    text-align: left;
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }


/* .table {
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 100px;
  width: 100%
} */

.list {
  list-style-type: none;
  /* text-align: center; */
  margin: 0;
  padding: 0;
}

.album img {
    margin: auto;
    display: block;
}

.album-title, .album-date {
  text-align: center;
}

.album-tracks {
  margin: auto;
  display: block;
}

.container-fluid {
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 100px;
}
