body#background {
background: url(../images/ntl-index.jpg) no-repeat 50% 50% fixed;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
}

body {
  font-family: 'Lato', sans-serif;
  }

img {
    max-width: 100%;
    height: auto;
}

th, td {
    padding: 10px;
    text-align: center;
}

body, html {
    height: 100%;
}
